
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#statues-map { height: 500px; }

#statues-list .active {
	background-color: #fcf8e3;
}

#statues-map button {
	font-size: 1.2em;
	margin-top: 5px;
	border-radius: 5px;
	border-width: 1px;
	background-color: #fff;
	padding: 2px 1em;
}
